
<mat-sidenav-container>

  <mat-sidenav #sidenav
    [fixedInViewport]="false"
    [fixedTopGap]="0"
    [position]="'start'"
    [mode]="'push'">
    <!-- <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <p>{{currentUser | json}}</p> -->
    <app-group-list
      *ngIf="currentUser"
      (groupSelected)="onGroupSelected($event)">
    </app-group-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <app-header
      [currentUser]="currentUser"
      (onMenuSelect)="menuHandler($event)">
    </app-header>

    <router-outlet style="display:block;"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
