
<mat-sidenav-container>

  <mat-sidenav #sidenav
    [fixedInViewport]="false"
    [fixedTopGap]="0"
    [position]="'start'"
    [mode]="'push'">
    <!-- <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->

    <app-group-list
      (groupSelected)="onGroupSelected($event)">
    </app-group-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (onMenuSelect)="menuHandler($event)"></app-header>


    <nav mat-tab-nav-bar mat-stretch-tabs>

      <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="getTabUrl(link.link)"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}
      </a>

      <!-- <a mat-tab-link
        (click)="activeLink = link"
        [active]="activeLink == link"> Map</a> -->

      <!-- <a mat-tab-link
          (click)="activeLink = link"
          [active]="activeLink == link"> Chat</a> -->
      <!-- <a mat-tab-link disabled>Disabled Link</a> -->
    </nav>



    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
