<mat-tab-group [dynamicHeight]="true" id="user-tabs">

  <mat-tab label="Map">
    <app-map-view></app-map-view>
  </mat-tab>

  <mat-tab label="Chat">
    <app-chat-view></app-chat-view>
  </mat-tab>

  <mat-tab label="Profile">
    <app-user-profile></app-user-profile>
  </mat-tab>

  <mat-tab label="Users">

    Users page is a work in progress.

    <!-- <article>
      <mat-list>
        <mat-list-item  *ngFor="let user of users">{{user.username}}</mat-list-item>
      </mat-list>
    </article> -->

  </mat-tab>

  <mat-tab label="Groups">

    <article>
      <section>
        <!-- <group-manager></group-manager> -->
        <app-group-view></app-group-view>
      </section>
    </article>

  </mat-tab>

  <mat-tab label="Events">

    <article>
      <section>
        <!-- <event-manager></event-manager> -->
        <app-event-view></app-event-view>
      </section>
    </article>

  </mat-tab>

</mat-tab-group>
