<mat-tab-group>

  <mat-tab label="Profile">

    <article>
      <section>
        <h3>Welcome - {{user?.username}}</h3>

        <pre> <code>{{user | json}}</code> </pre>

        <br />

        <pre> <code>{{store || {} | json}}</code></pre>
      </section>
    </article>

  </mat-tab>

  <mat-tab label="Users">

    <article>
      <h3>Users:</h3>

      <ul>
        <li *ngFor="let user of users">
          <pre>
              <code>{{user.username | json}}</code>
            </pre>
        </li>
      </ul>
    </article>

  </mat-tab>

  <mat-tab label="Groups">

    <article>
      <section>
        <group-manager></group-manager>
      </section>
    </article>

  </mat-tab>

</mat-tab-group>
