user view page

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>Hi User!</mat-grid-tile>
  <mat-grid-tile>Create New Group!</mat-grid-tile>
</mat-grid-list>

<!-- <nav mat-tab-nav-bar mat-stretch-tabs>

  <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="getTabUrl(link.link)"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    <mat-icon>{{link.icon}}</mat-icon>
    {{link.label}}
  </a>

</nav> -->
<!--
<mat-tab-group [dynamicHeight]="true" id="user-tabs">

  <mat-tab label="Map">
    <app-map-view></app-map-view>
  </mat-tab>

  <mat-tab label="Chat">
    <app-chat-view></app-chat-view>
  </mat-tab>

  <mat-tab label="Profile">
    <app-user-profile></app-user-profile>
  </mat-tab>

  <mat-tab label="Users">

    Users page is a work in progress.

  </mat-tab>

  <mat-tab label="Groups">

    <article>
      <section>
        <app-group-view></app-group-view>
      </section>
    </article>

  </mat-tab>

  <mat-tab label="Events">

    <article>
      <section>
        <app-event-view></app-event-view>
      </section>
    </article>

  </mat-tab>

</mat-tab-group> -->
