
<div class="event-calendar-header row text-center">
  <div class="col-md-4">

    <mat-button-toggle-group color="accent" name="calandarView" aria-label="Font Style">
      <mat-button-toggle
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false"
        [checked]="false">Previous</mat-button-toggle>
      <mat-button-toggle
        mwlCalendarToday
        [(viewDate)]="viewDate"
        [checked]="true">Today</mat-button-toggle>
      <mat-button-toggle
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false"
        [checked]="false">Next</mat-button-toggle>
    </mat-button-toggle-group>

  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">

    <mat-button-toggle-group color="accent" name="calandarView" aria-label="Font Style">
      <mat-button-toggle (click)="view = CalendarView.Month" [checked]="view === CalendarView.Month" >Month</mat-button-toggle>
      <mat-button-toggle (click)="view = CalendarView.Week" [checked]="view === CalendarView.Week" >Week</mat-button-toggle>
      <mat-button-toggle (click)="view = CalendarView.Day" [checked]="view === CalendarView.Day" >Day</mat-button-toggle>
    </mat-button-toggle-group>

    <span style="margin-left:15px;">
        <button mat-mini-fab color="primary" (click)="createEvent()">
          <mat-icon aria-label="tda da">add</mat-icon>
        </button>
    </span>

  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
