<mat-tab-group>

  <mat-tab label="General">
    <p>general</p>
  </mat-tab>

  <mat-tab label="Users">

    <article>
      <section>
        <user-manager></user-manager>
      </section>
    </article>

  </mat-tab>

  <mat-tab label="Groups">

    <article>
      <section>
        <group-manager></group-manager>
      </section>
    </article>

  </mat-tab>

  <mat-tab label="Events">

    <article>
      <section>
        <event-manager></event-manager>
      </section>
    </article>

  </mat-tab>

</mat-tab-group>
